services:
  odoo:
    image: qatf_odoo
    ports:
      - "8069:8069"
      - "8072:8072"
    volumes:
      - ./data/filestore:/var/lib/odoo/filestore  # Mount local filestore (assets, attachments)
      - ./odoo_prod.conf:/etc/odoo/odoo.conf:ro
      - ./custom_addons:/opt/odoo/custom_addons:ro
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:16-alpine
    container_name: odoo-db
    restart: unless-stopped
    environment:
      - POSTGRES_USER=odoo
      - POSTGRES_PASSWORD=odoo
      - POSTGRES_DB=qatf_prod
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U odoo"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  odoo-data:
  postgres-data:
